# Git
.git
.gitignore
.gitattributes

# Node
node_modules
npm-debug.log
yarn-error.log
bun.lockb
!server/bun.lockb
!client/bun.lockb

# Environment Variables
.env
.env.*
**/.env.local
client/.env.local
server/.env.local

# Build Output
dist
build
coverage
public/pdfs

# OS Files
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
docker-compose.hub.yml
Dockerfile
DEPLOYMENT.md
USER_MANUAL.md
README.md

# Ignore separate node_modules to ensure clean install
server/node_modules
client/node_modules
client/dist
server/dist
