/* src/fonts/fonts.css */

@font-face {
    font-family: 'sarabunregular';
    src: url('./sarabun-regular-webfont.woff2') format('woff2'),
        url('./sarabun-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}